<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.reapal.gworder.mapper.GwOrdersMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.reapal.gworder.entity.GwOrders">
		<id column="order_id" property="orderId" />
		<result column="service" property="service" />
		<result column="merchant_order_no" property="merchantOrderNo" />
		<result column="merchant_id" property="merchantId" />
		<result column="seller_name" property="sellerName" />
		<result column="seller_id" property="sellerId" />
		<result column="buyer_name" property="buyerName" />
		<result column="buyer_id" property="buyerId" />
		<result column="seller_remarks" property="sellerRemarks" />
		<result column="buyer_remarks" property="buyerRemarks" />
		<result column="buyer_realname" property="buyerRealname" />
		<result column="buyer_contact" property="buyerContact" />
		<result column="price" property="price" />
		<result column="query_key" property="queryKey" />
		<result column="quantity" property="quantity" />
		<result column="sign_type" property="signType" />
		<result column="charsets" property="charsets" />
		<result column="currency" property="currency" />
		<result column="order_date" property="orderDate" />
		<result column="exp_dates" property="expDates" />
		<result column="ips" property="ips" />
		<result column="ordersts" property="ordersts" />
		<result column="return_url" property="returnUrl" />
		<result column="notify_url" property="notifyUrl" />
		<result column="subject" property="subject" />
		<result column="bodys" property="bodys" />
		<result column="amount" property="amount" />
		<result column="price_changed" property="priceChanged" />
		<result column="api_version" property="apiVersion" />
		<result column="locale" property="locale" />
		<result column="preference" property="preference" />
		<result column="refund_amount" property="refundAmount" />
		<result column="refund_sts" property="refundSts" />
		<result column="order_type" property="orderType" />
		<result column="pay_method" property="payMethod" />
		<result column="service_fee" property="serviceFee" />
		<result column="agentid" property="agentid" />
		<result column="close_date_time" property="closeDateTime" />
		<result column="show_url" property="showUrl" />
		<result column="token_id" property="tokenId" />
		<result column="member_ip" property="memberIp" />
		<result column="terminal_info" property="terminalInfo" />
		<result column="terminal_type" property="terminalType" />
		<result column="business_id" property="businessId" />
		<result column="product_type" property="productType" />
		<result column="result_code" property="resultCode" />
		<result column="result_msg" property="resultMsg" />
		<result column="modify_date_time" property="modifyDateTime" />
		<result column="modify_user_id" property="modifyUserId" />
		<result column="delete_flag" property="deleteFlag" />
		<result column="create_date_time" property="createDateTime" />
		<result column="create_user_id" property="createUserId" />
		<result column="product_category_id" property="productCategoryId" />
		<result column="product_id" property="productId" />
		<result column="api_type" property="apiType" />
		<result column="member_id" property="memberId" />
		<result column="refund_amount_sure" property="refundAmountSure" />
		<result column="protocol_no" property="protocolNo" />
		<result column="bind_id" property="bindId" />
		<result column="card_type" property="cardType" />
		<result column="identify_flag" property="identifyFlag" />
		<result column="charge_purpose" property="chargePurpose" />
		<result column="sms_check" property="smsCheck" />
		<result column="device_id" property="deviceId" />
		<result column="discount_amount" property="discountAmount" />
		<result column="real_amount" property="realAmount" />
	</resultMap>

</mapper>
